<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>Sou gerente</h1>
  <a href="/">Voltar</a>

  <p>Total por vendedor</p>
  <input class="seller" placeholder="Nome do vendedor" />
  <button onclick="searchSeller()">Pesquisar</button><br />

  <input class="shop_id" placeholder="Digite ID da loja" />
  <button onclick="totalSalesFromShop()">Pesquisar</button><br />

  <input class="initial_date" placeholder="Data inicial" type="date" />
  <input class="final_date" placeholder="Data final" type="date" />
  <button onclick="totalSalesIntervalDateShop()">Pesquisar</button><br />
  <button onclick="bestSeller()">Teste</button><br />

  <p id="result"></p>


  <ul id="list"></ul>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();

    const list = document.getElementById('list')
    const seller_name = document.querySelector('.seller')
    const shop_id = document.querySelector('.shop_id')
    const initial_date = document.querySelector('.initial_date')
    const final_date = document.querySelector('.final_date')
    const result = document.querySelector('#result')

    const data = [
      { name: "Pedro", operation_code: "123", shop_id: "1", product_value: 2000, sold_date: new Date("06-07-2022") },
      { name: "Pedro", operation_code: "123", shop_id: "1", product_value: 2000, sold_date: new Date("06-07-2022") },
      { name: "Paulo", operation_code: "123", shop_id: "1", product_value: 2000, sold_date: new Date("06-07-2022") },
      { name: "Paulo", operation_code: "123", shop_id: "1", product_value: 2000, sold_date: new Date("06-07-2022") },
      { name: "Paulo", operation_code: "123", shop_id: "1", product_value: 2000, sold_date: new Date("06-07-2022") },
      { name: "Joao", operation_code: "123", shop_id: "1", product_value: 2000, sold_date: new Date("04-03-2017") },
      { name: "Joao", operation_code: "123", shop_id: "1", product_value: 2000, sold_date: new Date("02-05-2023") },
      { name: "Joao", operation_code: "123", shop_id: "1", product_value: 2000, sold_date: new Date("06-07-2022") },
      { name: "Joao", operation_code: "123", shop_id: "1", product_value: 2000, sold_date: new Date("06-07-2014") },
      { name: "Joao", operation_code: "123", shop_id: "1", product_value: 2000, sold_date: new Date("06-07-2022") },
    ]

    socket.on('seller data', (item) => {
      data.push(item)
    })


    function searchSeller() {
      const seller = data.filter(item => item.name === seller_name.value)
      const total = seller.reduce((acc, curr) => acc + curr.product_value, 0)

      result.innerHTML = `<strong>${seller[0].name}: </strong>  ${total}`
    }


    function totalSalesFromShop() {
      const shop = data.filter(item => item.shop_id === shop_id.value)
      const total = shop.reduce((acc, curr) => acc + curr.product_value, 0)

      result.innerHTML = `<strong>${shop[0].shop_id}: </strong>  ${total}`
    }


    function totalSalesIntervalDateShop() {
      const shop = data.filter(item => item.shop_id === shop_id.value)
      const filter_date = shop.filter(item => item.sold_date.getTime() >= new Date(initial_date.value).getTime() && item.sold_date.getTime() <= new Date(final_date.value).getTime())

      filter_date.forEach(item => {
        const div = document.createElement('div')

        div.innerHTML = `
          <p>${item.name}</p>
          <p>${item.operation_code}</p>
          <p>${item.product_value}</p>
          <p>${item.shop_id}</p>
          <p>${item.sold_date}</p>
        `

        result.appendChild(div)
      })
    }

    const groupBy = function (xs, key) {
      return xs.reduce(function (rv, x) {
        (rv[x[key]] = rv[x[key]] || []).push(x);
        return rv;
      }, {});
    };

    function bestSeller() {
      const test = groupBy(data, "name")

      const test2 = Object.keys(test).map(item => {
        return {
          name: test[item][0].name,
          product_value: test[item].reduce((acc, curr) => acc + curr.product_value, 0)
        }
      })

      console.log(test2)
    }


    function bestShop() {
      const test = groupBy(data, "shop_id")

      const test2 = Object.keys(test).map(item => {
        return {
          name: test[item][0].name,
          product_value: test[item].reduce((acc, curr) => acc + curr.product_value, 0)
        }
      })
    }
  </script>
</body>

</html>